{ns de-basisprofil-r4.value-set.AufnahmegrundErsteUndZweiteStelleVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Aufnahmegrund (1. und 2. Stelle), Datenübermittlung nach § 301 Abs. 3 SGB V",
            :zen.fhir/version "0.6.32",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/dkgev/AufnahmegrundErsteUndZweiteStelle",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/dkgev/AufnahmegrundErsteUndZweiteStelle",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
