{ns de-basisprofil-r4.value-set.Diagnosesubtyp,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/diagnosis-role",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://fhir.de/CodeSystem/KontaktDiagnoseProzedur",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/Diagnosesubtyp",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
