{ns de-basisprofil-r4.value-set.EncounterClassDE,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Fallarten und Patientenstatus zur Codierung von Encounter.class",
            :zen.fhir/version "0.6.30-11",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/EncounterClassDE",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
