{ns de-basisprofil-r4.value-set.icd-10-gm-mehrfachcodierungs-kennzeichen,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Zusatzkennzeichen für postkoordinierte ICD-10-gm-Codes",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/icd-10-gm-mehrfachcodierungs-kennzeichen",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/icd-10-gm-mehrfachcodierungs-kennzeichen",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
