{ns de-basisprofil-r4.value-set.valueset-ask,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Arzneimittel-Stoffkatalog (ASK) Nummern",
            :zen.fhir/version "0.6.30-10",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/ask",
                                  :zen.fhir/content :not-present}},
            :uri "http://fhir.de/ValueSet/ask",
            :version "1.4.0"}}
