{ns de-basisprofil-r4.value-set.valueset-wg14,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ABDATA WG14 (aut-idem-Auswahlgruppen, 'ABDA-KBV-Gruppen') für Medikamente",
            :zen.fhir/version "0.6.30-14",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/abdata/wg14",
                                  :zen.fhir/content :not-present}},
            :uri "http://fhir.de/ValueSet/abdata/wg14",
            :version "1.4.0"}}
