{ns de-basisprofil-r4.value-set.ValueSet-GenderOtherDE,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes zur Erfassung des amtlichen Geschlechts auf Basis der Spezifikationen \"XPersonenstand - Elektronische Datenübermittlung im Personenstandswesen\" und \"Kassenärztliche Vereinigung-Datentransfer\" der KB",
            :zen.fhir/version "0.6.30-10",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/gender-amtlich-de",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/gender-other-de",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
