{ns de-basisprofil-r4.value-set.valueset-VersicherungsartDeBasis,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ValueSet für die in Deutschland üblichen Versicherungsarten",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "https://fhir.kbv.de/ValueSet/KBV_VS_FOR_Payor_type",
                                  :zen.fhir/content :not-present}
                                 {:fhir/url "http://fhir.de/CodeSystem/versicherungsart-de-basis",
                                  :zen.fhir/content :bundled}
                                 {:fhir/url "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/versicherungsart-de-basis",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
