{ns de-basisprofil-r4.value-set.valueset-ICD-10-GM,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "ICD-10-GM",
            :zen.fhir/version "0.6.30-10",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/bfarm/icd-10-gm",
                                  :zen.fhir/content :not-present}},
            :uri "http://fhir.de/ValueSet/bfarm/icd-10-gm",
            :version "1.4.0"}}
