{ns de-basisprofil-r4.value-set.VitalSignDE-Body-Weigth-UCUM,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "VitalSignDE_Body_Weigth_UCUM enthält alle validen Einheiten zur Kodierung eines Körpergewichtes",
            :zen.fhir/version "0.6.30-7",
            :fhir/code-systems #{{:fhir/url "http://unitsofmeasure.org",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/VitalSignDE_Body_Weigth_UCUM",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
