{ns de-basisprofil-r4.value-set.vs-common-meta-tag-de,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Gebräuchliche Codes zur Kodierung von Resource.meta.tag",
            :zen.fhir/version "0.6.30-10",
            :fhir/code-systems #{{:fhir/url "http://fhir.de/CodeSystem/common-meta-tag-de",
                                  :zen.fhir/content :bundled}},
            :uri "http://fhir.de/ValueSet/common-meta-tag-de",
            :version "1.4.0",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
