{ns de-basisprofil-r4.CodingATC,
 import #{zen.fhir hl7-fhir-r4-core.Coding},
 schema {:zen.fhir/version "0.6.30-11",
         :confirms #{hl7-fhir-r4-core.Coding/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/CodingATC",
         :require #{:system :code :version},
         :type zen/map,
         :zen/desc "Abbildung der Mindestanforderungen eines ATC-Codes",
         :keys {:system {:const {:value "http://fhir.de/CodeSystem/bfarm/atc"},
                         :zen/desc "Canonische CodeSystem URL für ATC"},
                :version {:zen/desc "Die Jahresversion von ATC. Angegeben wird immer die vierstellige Jahreszahl (z.B. \"2017\")"},
                :code {:zen/desc "Der ATC-Code"}},
         :zen.fhir/type "Coding"}}
