{ns de-basisprofil-r4.CodingICD10GM,
 import #{zen.fhir
          de-basisprofil-r4.seitenlokalisation
          hl7-fhir-r4-core.Coding
          de-basisprofil-r4.icd-10-gm-diagnosesicherheit
          de-basisprofil-r4.icd-10-gm-mehrfachcodierungs-kennzeichen},
 schema {:zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4-core.Coding/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/CodingICD10GM",
         :require #{:system :code :version},
         :type zen/map,
         :zen/desc "Abbildung der Mindestanforderungen eines ICD 10 GM (German Modification) Diagnosecodes",
         :keys {:system {:const {:value "http://fhir.de/CodeSystem/bfarm/icd-10-gm"},
                         :zen/desc "Canonische CodeSystem URL für ICD-10-GM"},
                :Seitenlokalisation {:confirms #{de-basisprofil-r4.seitenlokalisation/schema},
                                     :fhir/extensionUri "http://fhir.de/StructureDefinition/seitenlokalisation"},
                :Mehrfachcodierungs-Kennzeichen {:confirms #{de-basisprofil-r4.icd-10-gm-mehrfachcodierungs-kennzeichen/schema},
                                                 :fhir/extensionUri "http://fhir.de/StructureDefinition/icd-10-gm-mehrfachcodierungs-kennzeichen"},
                :Diagnosesicherheit {:confirms #{de-basisprofil-r4.icd-10-gm-diagnosesicherheit/schema},
                                     :fhir/extensionUri "http://fhir.de/StructureDefinition/icd-10-gm-diagnosesicherheit"},
                :code {:zen/desc "Der ICD-10-Code"},
                :version {:zen/desc "Die Jahresversion von ICD-10-GM. Angegeben wird immer die vierstellige Jahreszahl (z.B. \"2017\")"}},
         :zen.fhir/type "Coding"}}
