{ns de-basisprofil-r4.coverage-de-gkv,
 import #{de-basisprofil-r4.einlesedatum-karte
          de-basisprofil-r4.generation-egk
          zen.fhir
          de-basisprofil-r4.zuzahlungsstatus
          de-basisprofil-r4.identifier-iknr
          de-basisprofil-r4.onlinepruefung-egk
          de-basisprofil-r4.kostenerstattung
          de-basisprofil-r4.AbrechnendeIK
          de-basisprofil-r4.coverage-de-basis
          de-basisprofil-r4.dmp-kennzeichen
          de-basisprofil-r4.wop
          de-basisprofil-r4.versichertenart
          de-basisprofil-r4.ruhender-leistungsanspruch
          de-basisprofil-r4.besondere-personengruppe
          de-basisprofil-r4.version-vsdm},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{zen.fhir/Resource
                     de-basisprofil-r4.coverage-de-basis/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/coverage-de-gkv",
         :require #{:identifier},
         :type zen/map,
         :zen/desc "Profil für die Nutzung der Coverage-Resource zur Darstellung eines gesetzlichen Versicherungsverhältnisses in Deutschland",
         :keys {:versionEgk {:confirms #{de-basisprofil-r4.version-vsdm/schema},
                             :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/version-vsdm"},
                :beneficiary {:type zen/map,
                              :keys {:identifier {:match {:system "http://fhir.de/sid/gkv/kvid-10"},
                                                  :zen/desc "Identifier der versicherten Person"},
                                     :display {:zen/desc "Name der Versicherten Person"}},
                              :confirms #{zen.fhir/Reference},
                              :zen.fhir/reference {:refers #{}}},
                :wop {:confirms #{de-basisprofil-r4.wop/schema},
                      :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/wop"},
                :einlesedatumKarte {:confirms #{de-basisprofil-r4.einlesedatum-karte/schema},
                                    :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/einlesedatum-karte"},
                :type {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {"VersicherungsArtDeBasis" {:schema {:type zen/vector,
                                                                                              :minItems 1,
                                                                                              :maxItems 1},
                                                                                     :filter {:engine :match,
                                                                                              :match {:system "http://fhir.de/CodeSystem/versicherungsart-de-basis",
                                                                                                      :code "GKV"}}}}},
                                       :minItems 1}},
                       :require #{:coding}},
                :besonderePersonengruppe {:confirms #{de-basisprofil-r4.besondere-personengruppe/schema},
                                          :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/besondere-personengruppe"},
                :kostenerstattung {:confirms #{de-basisprofil-r4.kostenerstattung/schema},
                                   :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/kostenerstattung"},
                :subscriber {:type zen/map,
                             :keys {:identifier {:match {:system "http://fhir.de/sid/gkv/kvid-10"},
                                                 :zen/desc "VersichertenID (10-stellig) des Hauptversicherten"},
                                    :display {:zen/desc "Name des Hauptversicherten"}},
                             :confirms #{zen.fhir/Reference},
                             :zen.fhir/reference {:refers #{}}},
                :versichertenart {:confirms #{de-basisprofil-r4.versichertenart/schema},
                                  :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/versichertenart"},
                :payor {:type zen/vector,
                        :every {:type zen/map,
                                :keys {:abrechnendeIK {:confirms #{de-basisprofil-r4.AbrechnendeIK/schema},
                                                       :fhir/extensionUri "http://fhir.de/StructureDefinition/AbrechnendeIK"},
                                       :identifier {:confirms #{de-basisprofil-r4.identifier-iknr/schema}}},
                                :require #{:display},
                                :confirms #{zen.fhir/Reference},
                                :zen.fhir/reference {:refers #{}}},
                        :maxItems 1},
                :identifier {:type zen/vector,
                             :slicing {:slices {"KrankenversichertenID" {:schema {:type zen/vector,
                                                                                  :maxItems 1,
                                                                                  :every {:type zen/map,
                                                                                          :require #{:type}}},
                                                                         :filter {:engine :match,
                                                                                  :match {:type {:coding #{{:system "http://fhir.de/CodeSystem/identifier-type-de-basis",
                                                                                                            :code "GKV"}}}}}},
                                                "pseudo-Krankenversichertennummer" {:schema {:type zen/vector,
                                                                                             :maxItems 1,
                                                                                             :every {:type zen/map,
                                                                                                     :require #{:type}}},
                                                                                    :filter {:engine :match,
                                                                                             :match {:type {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                                                                                                       :code "ANON"}}}}}}}},
                             :every {:zen/desc "Primärer Identifier der Versicherung"},
                             :minItems 1},
                :onlinepruefung {:confirms #{de-basisprofil-r4.onlinepruefung-egk/schema},
                                 :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/onlinepruefung-egk"},
                :generationEgk {:confirms #{de-basisprofil-r4.generation-egk/schema},
                                :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/generation-egk"},
                :dmpKennzeichen {:confirms #{de-basisprofil-r4.dmp-kennzeichen/schema},
                                 :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/dmp-kennzeichen"},
                :zuzahlungsstatus {:confirms #{de-basisprofil-r4.zuzahlungsstatus/schema},
                                   :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/zuzahlungsstatus"},
                :ruhenderLeistungsanspruch {:confirms #{de-basisprofil-r4.ruhender-leistungsanspruch/schema},
                                            :fhir/extensionUri "http://fhir.de/StructureDefinition/gkv/ruhender-leistungsanspruch"}},
         :zen.fhir/type "Coverage"}}
