{ns de-basisprofil-r4.einlesedatum-karte,
 import #{zen.fhir hl7-fhir-r4-core.dateTime},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Extension zur Erfassung des Einlesedatums der eGK bzw. KVK",
         :zen.fhir/type "dateTime",
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/gkv/einlesedatum-karte",
         :zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r4-core.dateTime/schema}}}
