{ns de-basisprofil-r4.ExtensionAbrechnungsart,
 import #{zen.fhir hl7-fhir-r4-core.Coding},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen.fhir/type "Coding",
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/ExtensionAbrechnungsart",
         :zen.fhir/version "0.6.32",
         :confirms #{hl7-fhir-r4-core.Coding/schema}}}
