{ns de-basisprofil-r4.gender-amtlich-de,
 import #{zen.fhir
          de-basisprofil-r4.value-set.ValueSet-GenderOtherDE
          hl7-fhir-r4-core.Coding},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Extension zur genaueren Differenzierung des administrativen Geschlechts 'other', vgl. https://wiki.hl7.de/index.php?title=Geschlecht#administratives_Geschlecht.",
         :zen.fhir/type "Coding",
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/gender-amtlich-de",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4-core.Coding/schema},
         :zen.fhir/value-set {:symbol de-basisprofil-r4.value-set.ValueSet-GenderOtherDE/value-set,
                              :strength :required}}}
