{ns de-basisprofil-r4.GradDerBehinderung,
 import #{hl7-fhir-r4-core.Observation zen.fhir},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen/desc "Beschreibt den Grad der Behinderung und ggf. vorhandene Merkzeichen",
         :zen.fhir/type "Observation",
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/GradDerBehinderung",
         :zen.fhir/version "0.6.30-10",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {"snomedct" {:schema {:type zen/vector,
                                                                               :minItems 1,
                                                                               :maxItems 1},
                                                                      :filter {:engine :match,
                                                                               :match {:code "116149007",
                                                                                       :system "http://snomed.info/sct"}}}}},
                                       :minItems 1}},
                       :require #{:coding}},
                :value {:fhir/polymorphic true, :type zen/map},
                :component {:type zen/vector, :slicing {:slices {}}}}}}
