{ns de-basisprofil-r4.identifier-reisepassnummer,
 import #{zen.fhir
          de-basisprofil-r4.value-set.valueset-identifier-type-de-basis
          hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.30-14",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/identifier-reisepassnummer",
         :require #{:system :value},
         :type zen/map,
         :zen/desc "Identifier-Profil für die Abbildung einer Reisepassnummer",
         :keys {:use {:const {:value "official"}},
                :type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "PPN"}}},
                       :zen.fhir/value-set {:symbol de-basisprofil-r4.value-set.valueset-identifier-type-de-basis/value-set,
                                            :strength :extensible}},
                :system {:const {:value "http://hl7.org/fhir/sid/passport-DEU"}}},
         :zen.fhir/type "Identifier"}}
