{ns de-basisprofil-r4.identifier-telematik-id,
 import #{zen.fhir
          de-basisprofil-r4.value-set.valueset-identifier-type-de-basis
          hl7-fhir-r4-core.Identifier},
 schema {:zen.fhir/version "0.6.31",
         :confirms #{hl7-fhir-r4-core.Identifier/schema},
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/identifier-telematik-id",
         :require #{:system :value},
         :type zen/map,
         :zen/desc "Die Telematik-ID repräsentiert als eineindeutiges Merkmal die Identität eines Teilnehmers, also eines Leistungserbringers im HBA respektive einer Organisation/Einrichtung des Gesundheitswesens in einer SMC-B.",
         :keys {:type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/v2-0203",
                                          :code "PRN"}}},
                       :zen.fhir/value-set {:symbol de-basisprofil-r4.value-set.valueset-identifier-type-de-basis/value-set,
                                            :strength :extensible}},
                :system {:const {:value "https://gematik.de/fhir/sid/telematik-id"}}},
         :zen.fhir/type "Identifier"}}
