{ns de-basisprofil-r4.normgroesse,
 import #{hl7-fhir-r4-core.code zen.fhir},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "Die Packungsgrößenkennzeichnung für Medikamente ist eine in Deutschland bestehende Normierung der in der Apotheke abzugebenden Menge (Stückzahl bei Tabletten, Kapseln, Zäpfchen und anderen einzeldosierten Formen, Milliliter oder Gramm bei halbfesten und flüssigen Mitteln) eines Fertigarzneimittels im Rahmen der vertragsärztlichen Versorgung.\r\nRechtsgrundlage der Normierung war bis 2010 die Packungsgrößenverordnung (PackungsV). Sie ordnete folgende drei Packungsgrößen zu – das N steht für Normgröße:\r\n\r\nN1 – kleine Packung\r\nN2 – mittlere Packung\r\nN3 – große Packung\r\n(siehe https://de.wikipedia.org/wiki/Packungsgr%C3%B6%C3%9Fenkennzeichnung)",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/normgroesse",
         :zen.fhir/version "0.6.30-12",
         :confirms #{hl7-fhir-r4-core.code/schema}}}
