{ns de-basisprofil-r4.observation-de-ekg,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          de-basisprofil-r4.value-set.EkgLeads},
 schema {:zen.fhir/version "0.6.30-12",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/observation-de-ekg",
         :require #{:category :component :effective :device :subject},
         :type zen/map,
         :keys {:category {:type zen/vector,
                           :every {:type zen/map,
                                   :keys {:coding {:type zen/vector,
                                                   :every {:match {:system "http://terminology.hl7.org/CodeSystem/observation-category",
                                                                   :code "procedure"}}}}},
                           :minItems 1},
                :code {:match {:coding #{{:system "http://loinc.org",
                                          :code "LP6244-0"}}}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{}}},
                :effective {:fhir/polymorphic true, :type zen/map},
                :value {:fhir/polymorphic true, :type zen/map},
                :device {:confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{}}},
                :component {:type zen/vector,
                            :every {:type zen/map,
                                    :keys {:code {:type zen/map,
                                                  :keys {:coding {:type zen/vector,
                                                                  :minItems 1}},
                                                  :require #{:coding},
                                                  :zen.fhir/value-set {:symbol de-basisprofil-r4.value-set.EkgLeads/value-set,
                                                                       :strength :extensible}},
                                           :value {:fhir/polymorphic true,
                                                   :type zen/map,
                                                   :require #{:data}}},
                                    :require #{:value}},
                            :minItems 1}},
         :zen.fhir/type "Observation"}}
