{ns de-basisprofil-r4.observation-de-pflegegrad,
 import #{hl7-fhir-r4-core.Observation
          zen.fhir
          de-basisprofil-r4.value-set.valueset-pflegegrad-de
          hl7-fhir-r4-core.Patient},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{hl7-fhir-r4-core.Observation/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/observation-de-pflegegrad",
         :require #{:value :effective :subject},
         :type zen/map,
         :zen/desc "Deutsches Profil zur Abbildung des Pflegegrads eines Patienten incl. Abbildung des erfolgten Antrags auf Einstufung in einen Pflegegrad",
         :keys {:code {:type zen/map,
                       :keys {:coding {:type zen/vector,
                                       :slicing {:slices {"loinc" {:schema {:type zen/vector,
                                                                            :minItems 1,
                                                                            :maxItems 1},
                                                                   :filter {:engine :match,
                                                                            :match {:system "http://loinc.org",
                                                                                    :code "80391-6"}}}}},
                                       :minItems 1}},
                       :require #{:coding}},
                :subject {:confirms #{zen.fhir/Reference},
                          :zen.fhir/reference {:refers #{hl7-fhir-r4-core.Patient/schema}}},
                :effective {:fhir/polymorphic true,
                            :type zen/map,
                            :keys {:Period {:type zen/map,
                                            :require #{:start}}},
                            :require #{:Period}},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :keys {:CodeableConcept {:type zen/map,
                                                 :keys {:coding {:type zen/vector,
                                                                 :every {:zen.fhir/value-set {:symbol de-basisprofil-r4.value-set.valueset-pflegegrad-de/value-set,
                                                                                              :strength :required}},
                                                                 :minItems 1}},
                                                 :require #{:coding}}},
                        :require #{:CodeableConcept}},
                :component {:type zen/vector, :maxItems 0}},
         :zen.fhir/type "Observation"}}
