{ns de-basisprofil-r4.observation-de-vitalsign-atemfrequenz,
 import #{zen.fhir de-basisprofil-r4.VitalSignDE},
 schema {:zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/type "Observation",
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/observation-de-vitalsign-atemfrequenz",
         :zen.fhir/version "0.6.30-10",
         :confirms #{de-basisprofil-r4.VitalSignDE/schema
                     zen.fhir/Resource},
         :type zen/map,
         :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                          :code "9279-1"}}}},
                :value {:fhir/polymorphic true,
                        :type zen/map,
                        :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                  :code "/min"}}}}}}}
