{ns de-basisprofil-r4.observation-de-vitalsign-blutdruck,
 import #{zen.fhir de-basisprofil-r4.VitalSignDE},
 schema {:zen.fhir/version "0.6.32",
         :confirms #{de-basisprofil-r4.VitalSignDE/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/observation-de-vitalsign-blutdruck",
         :require #{:component},
         :type zen/map,
         :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                          :code "85354-9"}}}},
                :value {:fhir/polymorphic true, :type zen/map},
                :component {:type zen/vector,
                            :slicing {:slices {"SystolicBP" {:schema {:type zen/vector,
                                                                      :minItems 1,
                                                                      :maxItems 1,
                                                                      :every {:type zen/map,
                                                                              :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                               :code "8480-6"}}}},
                                                                                     :value {:fhir/polymorphic true,
                                                                                             :type zen/map,
                                                                                             :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                                                                                       :code "mm[Hg]"}}}}}}},
                                                             :filter {:engine :match,
                                                                      :match {:code {:coding #{{:system "http://loinc.org",
                                                                                                :code "8480-6"}}}}}},
                                               "DiastolicBP" {:schema {:type zen/vector,
                                                                       :minItems 1,
                                                                       :maxItems 1,
                                                                       :every {:type zen/map,
                                                                               :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                                :code "8462-4"}}}},
                                                                                      :value {:fhir/polymorphic true,
                                                                                              :type zen/map,
                                                                                              :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                                                                                        :code "mm[Hg]"}}}}}}},
                                                              :filter {:engine :match,
                                                                       :match {:code {:coding #{{:system "http://loinc.org",
                                                                                                 :code "8462-4"}}}}}},
                                               "meanBP" {:schema {:type zen/vector,
                                                                  :maxItems 1,
                                                                  :every {:type zen/map,
                                                                          :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                           :code "8478-0"}}}},
                                                                                 :value {:fhir/polymorphic true,
                                                                                         :type zen/map,
                                                                                         :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                                                                                   :code "mm[Hg]"}}}}}}},
                                                         :filter {:engine :match,
                                                                  :match {:code {:coding #{{:system "http://loinc.org",
                                                                                            :code "8478-0"}}}}}}}},
                            :minItems 2}},
         :zen.fhir/type "Observation"}}
