{ns de-basisprofil-r4.observation-de-vitalsign-gcs,
 import #{zen.fhir de-basisprofil-r4.VitalSignDE},
 schema {:zen.fhir/version "0.6.30-7",
         :confirms #{de-basisprofil-r4.VitalSignDE/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://fhir.de/StructureDefinition/observation-de-vitalsign-gcs",
         :require #{:value :component},
         :type zen/map,
         :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                          :code "9269-2"}}}},
                :value {:type zen/map,
                        :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                  :code "1"}}},
                        :require #{:Quantity}},
                :specimen {:confirms #{zen.fhir/Reference},
                           :zen.fhir/reference {:refers #{}}},
                :component {:type zen/vector,
                            :slicing {:slices {"Eye" {:schema {:type zen/vector,
                                                               :minItems 1,
                                                               :maxItems 1,
                                                               :every {:type zen/map,
                                                                       :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                        :code "9267-6"}}}},
                                                                              :value {:type zen/map,
                                                                                      :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                                                                                :code "1"}}}}}}},
                                                      :filter {:engine :match,
                                                               :match {:code {:coding #{{:system "http://loinc.org",
                                                                                         :code "9267-6"}}}}}},
                                               "Motor" {:schema {:type zen/vector,
                                                                 :minItems 1,
                                                                 :maxItems 1,
                                                                 :every {:type zen/map,
                                                                         :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                          :code "9268-4"}}}},
                                                                                :value {:type zen/map,
                                                                                        :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                                                                                  :code "1"}}}}}}},
                                                        :filter {:engine :match,
                                                                 :match {:code {:coding #{{:system "http://loinc.org",
                                                                                           :code "9268-4"}}}}}},
                                               "Verbal" {:schema {:type zen/vector,
                                                                  :minItems 1,
                                                                  :maxItems 1,
                                                                  :every {:type zen/map,
                                                                          :keys {:code {:match {:coding #{{:system "http://loinc.org",
                                                                                                           :code "9270-0"}}}},
                                                                                 :value {:type zen/map,
                                                                                         :keys {:Quantity {:match {:system "http://unitsofmeasure.org",
                                                                                                                   :code "1"}}}}}}},
                                                         :filter {:engine :match,
                                                                  :match {:code {:coding #{{:system "http://loinc.org",
                                                                                            :code "9270-0"}}}}}}}},
                            :minItems 3}},
         :zen.fhir/type "Observation"}}
