{ns de-basisprofil-r4,
 import #{zen.fhir hl7-fhir-r4-core},
 extensions {:zen/tags #{zen.fhir/extensions},
             :schemas {"http://fhir.de/StructureDefinition/humanname-namenszusatz" #zen/quote de-basisprofil-r4.humanname-namenszusatz/schema,
                       "http://fhir.de/StructureDefinition/ExtensionAbrechnungsDiagnoseProzedur" #zen/quote de-basisprofil-r4.ExtensionAbrechnungsDiagnoseProzedur/schema,
                       "http://fhir.de/StructureDefinition/gkv/dmp-kennzeichen" #zen/quote de-basisprofil-r4.dmp-kennzeichen/schema,
                       "http://fhir.de/StructureDefinition/gkv/zuzahlungsstatus" #zen/quote de-basisprofil-r4.zuzahlungsstatus/schema,
                       "http://fhir.de/StructureDefinition/gkv/wop" #zen/quote de-basisprofil-r4.wop/schema,
                       "http://fhir.de/StructureDefinition/destatis/ags" #zen/quote de-basisprofil-r4.ags/schema,
                       "http://fhir.de/StructureDefinition/ExtensionAbrechnungsart" #zen/quote de-basisprofil-r4.ExtensionAbrechnungsart/schema,
                       "http://fhir.de/StructureDefinition/normgroesse" #zen/quote de-basisprofil-r4.normgroesse/schema,
                       "http://fhir.de/StructureDefinition/Aufnahmegrund" #zen/quote de-basisprofil-r4.Aufnahmegrund/schema,
                       "http://fhir.de/StructureDefinition/ProzedurDokumentationsdatum" #zen/quote de-basisprofil-r4.ProzedurDokumentationsdatum/schema,
                       "http://fhir.de/StructureDefinition/gkv/onlinepruefung-egk" #zen/quote de-basisprofil-r4.onlinepruefung-egk/schema,
                       "http://fhir.de/StructureDefinition/gkv/version-vsdm" #zen/quote de-basisprofil-r4.version-vsdm/schema,
                       "http://fhir.de/StructureDefinition/AbrechnendeIK" #zen/quote de-basisprofil-r4.AbrechnendeIK/schema,
                       "http://fhir.de/StructureDefinition/gkv/kostenerstattung" #zen/quote de-basisprofil-r4.kostenerstattung/schema,
                       "http://fhir.de/StructureDefinition/gender-amtlich-de" #zen/quote de-basisprofil-r4.gender-amtlich-de/schema,
                       "http://fhir.de/StructureDefinition/gkv/einlesedatum-karte" #zen/quote de-basisprofil-r4.einlesedatum-karte/schema,
                       "http://fhir.de/StructureDefinition/lebensphase" #zen/quote de-basisprofil-r4.ExtensionLebensphase/schema,
                       "http://fhir.de/StructureDefinition/icd-10-gm-diagnosesicherheit" #zen/quote de-basisprofil-r4.icd-10-gm-diagnosesicherheit/schema,
                       "http://fhir.de/StructureDefinition/seitenlokalisation" #zen/quote de-basisprofil-r4.seitenlokalisation/schema,
                       "http://fhir.de/StructureDefinition/Entlassungsgrund" #zen/quote de-basisprofil-r4.Entlassungsgrund/schema,
                       "http://fhir.de/StructureDefinition/icd-10-gm-mehrfachcodierungs-kennzeichen" #zen/quote de-basisprofil-r4.icd-10-gm-mehrfachcodierungs-kennzeichen/schema,
                       "http://fhir.de/StructureDefinition/gkv/ruhender-leistungsanspruch" #zen/quote de-basisprofil-r4.ruhender-leistungsanspruch/schema,
                       "http://fhir.de/StructureDefinition/gkv/generation-egk" #zen/quote de-basisprofil-r4.generation-egk/schema,
                       "http://fhir.de/StructureDefinition/Wahlleistung" #zen/quote de-basisprofil-r4.Wahlleistung/schema,
                       "http://fhir.de/StructureDefinition/gkv/versichertenart" #zen/quote de-basisprofil-r4.versichertenart/schema,
                       "http://fhir.de/StructureDefinition/informationrecipient" #zen/quote de-basisprofil-r4.informationrecipient/schema,
                       "http://fhir.de/StructureDefinition/gkv/besondere-personengruppe" #zen/quote de-basisprofil-r4.besondere-personengruppe/schema}},
 ig {:zen/tags #{zen.fhir/ig},
     :profiles profiles,
     :extensions extensions,
     :structures structures,
     :value-sets value-sets,
     :searches searches},
 profiles {:zen/tags #{zen.fhir/profiles},
           :schemas {"Observation" {"http://fhir.de/StructureDefinition/observation-de-vitalsign-sauerstoffsaettigung" #zen/quote de-basisprofil-r4.observation-de-vitalsign-sauerstoffsaettigung/schema,
                                    "http://fhir.de/StructureDefinition/GradDerBehinderung" #zen/quote de-basisprofil-r4.GradDerBehinderung/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign" #zen/quote de-basisprofil-r4.VitalSignDE/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-pflegegrad" #zen/quote de-basisprofil-r4.observation-de-pflegegrad/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-ekg" #zen/quote de-basisprofil-r4.observation-de-ekg/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-koerpergroesse" #zen/quote de-basisprofil-r4.observation-de-vitalsign-koerpergroesse/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-gcs" #zen/quote de-basisprofil-r4.observation-de-vitalsign-gcs/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-blutdruck" #zen/quote de-basisprofil-r4.observation-de-vitalsign-blutdruck/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-kopfumfang" #zen/quote de-basisprofil-r4.VitalSignDE-Kopfumfang/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-koerpergewicht" #zen/quote de-basisprofil-r4.observation-de-vitalsign-koerpergewicht/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-herzfrequenz" #zen/quote de-basisprofil-r4.observation-de-vitalsign-herzfrequenz/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-atemfrequenz" #zen/quote de-basisprofil-r4.observation-de-vitalsign-atemfrequenz/schema,
                                    "http://fhir.de/StructureDefinition/observation-de-vitalsign-koerpertemperatur" #zen/quote de-basisprofil-r4.observation-de-vitalsign-koerpertemperatur/schema},
                     "Coverage" {"http://fhir.de/StructureDefinition/coverage-de-sel" #zen/quote de-basisprofil-r4.coverage-de-sel/schema,
                                 "http://fhir.de/StructureDefinition/coverage-de-basis" #zen/quote de-basisprofil-r4.coverage-de-basis/schema,
                                 "http://fhir.de/StructureDefinition/coverage-de-gkv" #zen/quote de-basisprofil-r4.coverage-de-gkv/schema},
                     "ChargeItem" {"http://fhir.de/StructureDefinition/chargeitem-de-ebm" #zen/quote de-basisprofil-r4.chargeitem-de-ebm/schema},
                     "NamingSystem" {"http://fhir.de/StructureDefinition/namingsystem-de-basis" #zen/quote de-basisprofil-r4.namingsystem-de-basis/schema}}},
 searches {:zen/tags #{zen.fhir/searches},
           :searches {"related" {"http://fhir.de/SearchParameter/Condition-related" #zen/quote de-basisprofil-r4.search.Condition-related/search}}},
 structures {:zen/tags #{zen.fhir/structures},
             :schemas {"http://fhir.de/StructureDefinition/identifier-pid" #zen/quote de-basisprofil-r4.identifier-pid/schema,
                       "http://fhir.de/StructureDefinition/identifier-vknr" #zen/quote de-basisprofil-r4.identifier-vknr/schema,
                       "http://fhir.de/StructureDefinition/address-de-basis" #zen/quote de-basisprofil-r4.address-de-basis/schema,
                       "http://fhir.de/StructureDefinition/CodingAlphaIDSE" #zen/quote de-basisprofil-r4.CodingAlphaIDSE/schema,
                       "http://fhir.de/StructureDefinition/identifier-zanr" #zen/quote de-basisprofil-r4.identifier-zanr/schema,
                       "http://fhir.de/StructureDefinition/CodingAlphaID" #zen/quote de-basisprofil-r4.CodingAlphaID/schema,
                       "http://fhir.de/StructureDefinition/identifier-aufnahmenummer" #zen/quote de-basisprofil-r4.identifier-aufnahmenummer/schema,
                       "http://fhir.de/StructureDefinition/CodingASK" #zen/quote de-basisprofil-r4.CodingASK/schema,
                       "http://fhir.de/StructureDefinition/identifier-bsnr" #zen/quote de-basisprofil-r4.identifier-bsnr/schema,
                       "http://fhir.de/StructureDefinition/identifier-lanr" #zen/quote de-basisprofil-r4.identifier-lanr/schema,
                       "http://fhir.de/StructureDefinition/CodingICD10GM" #zen/quote de-basisprofil-r4.CodingICD10GM/schema,
                       "http://fhir.de/StructureDefinition/CodingPZN" #zen/quote de-basisprofil-r4.CodingPZN/schema,
                       "http://fhir.de/StructureDefinition/identifier-kzva" #zen/quote de-basisprofil-r4.identifier-kzva/schema,
                       "http://fhir.de/StructureDefinition/identifier-pkv" #zen/quote de-basisprofil-r4.identifier-pkv/schema,
                       "http://fhir.de/StructureDefinition/identifier-telematik-id" #zen/quote de-basisprofil-r4.identifier-telematik-id/schema,
                       "http://fhir.de/StructureDefinition/CodingOPS" #zen/quote de-basisprofil-r4.CodingOPS/schema,
                       "http://fhir.de/StructureDefinition/identifier-kvid-10" #zen/quote de-basisprofil-r4.identifier-kvid-10/schema,
                       "http://fhir.de/StructureDefinition/identifier-pseudo-kvid" #zen/quote de-basisprofil-r4.identifier-pseudo-kvid/schema,
                       "http://fhir.de/StructureDefinition/identifier-reisepassnummer" #zen/quote de-basisprofil-r4.identifier-reisepassnummer/schema,
                       "http://fhir.de/StructureDefinition/humanname-de-basis" #zen/quote de-basisprofil-r4.humanname-de-basis/schema,
                       "http://fhir.de/StructureDefinition/identifier-iknr" #zen/quote de-basisprofil-r4.identifier-iknr/schema,
                       "http://fhir.de/StructureDefinition/identifier-efn" #zen/quote de-basisprofil-r4.identifier-efn/schema,
                       "http://fhir.de/StructureDefinition/identifier-standortnummer" #zen/quote de-basisprofil-r4.identifier-standortnummer/schema,
                       "http://fhir.de/StructureDefinition/identifier-pkv-kvid-10" #zen/quote de-basisprofil-r4.identifier-pkvid-10/schema,
                       "http://fhir.de/StructureDefinition/CodingATC" #zen/quote de-basisprofil-r4.CodingATC/schema}},
 value-sets {:zen/tags #{zen.fhir/value-sets},
             :value-sets {"http://ihe-d.de/ValueSets/IHEXDSconfidentialityCode" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.33--20180713132759/value-set,
                          "http://fhir.de/ValueSet/lebensphase-de" #zen/quote de-basisprofil-r4.value-set.ValueSetLebensphaseDe/value-set,
                          "http://fhir.de/ValueSet/VitalSignDE_Body_Height_Loinc" #zen/quote de-basisprofil-r4.value-set.ValueSetVitalSignDE-Body-Height-Loinc/value-set,
                          "http://fhir.de/ValueSet/dgkev/Aufnahmeanlass" #zen/quote de-basisprofil-r4.value-set.AufnahmeanlassVS/value-set,
                          "http://fhir.de/ValueSet/dkgev/Fachabteilungsschluessel-erweitert" #zen/quote de-basisprofil-r4.value-set.FachabteilungsschluesselErweitert/value-set,
                          "http://fhir.de/ValueSet/iso/bundeslaender" #zen/quote de-basisprofil-r4.value-set.ValueSetISO31662DE/value-set,
                          "http://fhir.de/ValueSet/wahlleistungen-de" #zen/quote de-basisprofil-r4.value-set.wahlleistungen-de/value-set,
                          "http://fhir.de/ValueSet/EncounterClassDE" #zen/quote de-basisprofil-r4.value-set.EncounterClassDE/value-set,
                          "http://fhir.de/ValueSet/VitalSignDE_Body_Weight_Loinc" #zen/quote de-basisprofil-r4.value-set.VitalSignDE-Body-Weight-Loinc/value-set,
                          "http://fhir.de/ValueSet/dkgev/AufnahmegrundVierteStelle" #zen/quote de-basisprofil-r4.value-set.AufnahmegrundVierteStelleVS/value-set,
                          "http://fhir.de/ValueSet/EncounterStatusDe" #zen/quote de-basisprofil-r4.value-set.EncounterStatusDe/value-set,
                          "http://fhir.de/ValueSet/kontaktart-de" #zen/quote de-basisprofil-r4.value-set.kontaktart-de/value-set,
                          "http://art-decor.org/fhir/ValueSet/1.2.276.0.76.11.59--20180713162125" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.59--20180713162125/value-set,
                          "http://fhir.de/ValueSet/bfarm/icd-10-gm" #zen/quote de-basisprofil-r4.value-set.valueset-ICD-10-GM/value-set,
                          "http://art-decor.org/fhir/ValueSet/1.2.276.0.76.11.58--20180713162142" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.58--20180713162142/value-set,
                          "http://fhir.de/ValueSet/bfarm/ops" #zen/quote de-basisprofil-r4.value-set.ops-vs/value-set,
                          "http://fhir.de/ValueSet/dkgev/EntlassungsgrundErsteUndZweiteStelle" #zen/quote de-basisprofil-r4.value-set.EntlassungsgrundErsteUndZweiteStelleVS/value-set,
                          "http://fhir.de/ValueSet/VitalSignDE_Body_Length_UCUM" #zen/quote de-basisprofil-r4.value-set.VitalSignDE-Body-Length-UCUM/value-set,
                          "http://fhir.de/ValueSet/dkgev/EntlassungsgrundDritteStelle" #zen/quote de-basisprofil-r4.value-set.EntlassungsgrundDritteStelleVS/value-set,
                          "http://fhir.de/ValueSet/dkgev/Abrechnungsart" #zen/quote de-basisprofil-r4.value-set.AbrechnungsartVS/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDStypeCode" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.38--20180713162205/value-set,
                          "http://fhir.de/ValueSet/dkgev/AufnahmegrundDritteStelle" #zen/quote de-basisprofil-r4.value-set.AufnahmegrundDritteStelleVS/value-set,
                          "http://fhir.de/ValueSet/ifa/pzn" #zen/quote de-basisprofil-r4.value-set.valueset-pzn/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDSclassCode" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.32--20180713132315/value-set,
                          "http://fhir.de/ValueSet/AbrechnungsDiagnoseProzedur" #zen/quote de-basisprofil-r4.value-set.AbrechnungsDiagnoseProzedur/value-set,
                          "http://fhir.de/ValueSet/dkgev/AufnahmegrundErsteUndZweiteStelle" #zen/quote de-basisprofil-r4.value-set.AufnahmegrundErsteUndZweiteStelleVS/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDScodeList" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.40--20180713132721/value-set,
                          "http://fhir.de/ValueSet/bfarm/alpha-id" #zen/quote de-basisprofil-r4.value-set.valueset-alpha-id/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDScontentTypeCode" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.39--20180713132816/value-set,
                          "http://fhir.de/ValueSet/DiagnoseTyp" #zen/quote de-basisprofil-r4.value-set.DiagnoseTyp/value-set,
                          "http://fhir.de/ValueSet/Diagnosesubtyp" #zen/quote de-basisprofil-r4.value-set.Diagnosesubtyp/value-set,
                          "http://fhir.de/ValueSet/identifier-type-de-basis" #zen/quote de-basisprofil-r4.value-set.valueset-identifier-type-de-basis/value-set,
                          "http://fhir.de/ValueSet/common-meta-tag-de" #zen/quote de-basisprofil-r4.value-set.vs-common-meta-tag-de/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDShealthcareFacilityTypeCode" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.36--20181001183306/value-set,
                          "http://fhir.de/ValueSet/kontaktebene-de" #zen/quote de-basisprofil-r4.value-set.kontaktebene-de/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDSauthorSpeciality" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.31--20180713132208/value-set,
                          "http://fhir.de/ValueSet/icd-10-gm-mehrfachcodierungs-kennzeichen" #zen/quote de-basisprofil-r4.value-set.icd-10-gm-mehrfachcodierungs-kennzeichen/value-set,
                          "http://fhir.de/ValueSet/ask" #zen/quote de-basisprofil-r4.value-set.valueset-ask/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDSauthorRole" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.30--20180713131246/value-set,
                          "http://fhir.de/ValueSet/merkzeichen-de" #zen/quote de-basisprofil-r4.value-set.merkzeichen-de/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDSformatCodeDE" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.35--20181214170712/value-set,
                          "http://fhir.de/ValueSet/arge-ik/klassifikation" #zen/quote de-basisprofil-r4.value-set.ArgeIkKlassifikationVS/value-set,
                          "http://fhir.de/ValueSet/EkgLeads" #zen/quote de-basisprofil-r4.value-set.EkgLeads/value-set,
                          "http://fhir.de/ValueSet/bfarm/atc" #zen/quote de-basisprofil-r4.value-set.valueset-atc/value-set,
                          "http://fhir.de/ValueSet/dkgev/Fachabteilungsschluessel" #zen/quote de-basisprofil-r4.value-set.FachabteilungsschluesselVS/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDSeventCodeList" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.34--20180713132843/value-set,
                          "http://fhir.de/ValueSet/UcumVitalsCommonDE" #zen/quote de-basisprofil-r4.value-set.UcumVitalsCommonDE/value-set,
                          "http://fhir.de/ValueSet/abdata/wg14" #zen/quote de-basisprofil-r4.value-set.valueset-wg14/value-set,
                          "http://ihe-d.de/ValueSets/IHEXDSpracticeSettingCode" #zen/quote de-basisprofil-r4.value-set.1.2.276.0.76.11.37--20190517134631/value-set,
                          "http://fhir.de/ValueSet/versicherungsart-de-basis" #zen/quote de-basisprofil-r4.value-set.valueset-VersicherungsartDeBasis/value-set,
                          "http://fhir.de/ValueSet/gender-other-de" #zen/quote de-basisprofil-r4.value-set.ValueSet-GenderOtherDE/value-set,
                          "http://fhir.de/ValueSet/VitalSignDE_Body_Weigth_UCUM" #zen/quote de-basisprofil-r4.value-set.VitalSignDE-Body-Weigth-UCUM/value-set,
                          "http://fhir.de/ValueSet/pflegegrad-de" #zen/quote de-basisprofil-r4.value-set.valueset-pflegegrad-de/value-set}}}
