{ns de-basisprofil-r4.value-set.1.2.276.0.76.11.35--20181214170712,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "**formatCode (XDSDocumentEntry)**\r\nGlobally unique code specifying the format of an XDS Document. Along with the typeCode, it should provide sufficient information to allow a potential consumer to know if it will be able to process the document.",
            :zen.fhir/version "0.6.31",
            :fhir/code-systems #{{:fhir/url "http://ihe-d.de/CodeSystems/DeutscheDokumentenformate",
                                  :zen.fhir/content :bundled}},
            :uri "http://ihe-d.de/ValueSets/IHEXDSformatCodeDE",
            :version "2018-12-14T17:07:12",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
