{ns de-basisprofil-r4.value-set.1.2.276.0.76.11.39--20180713132816,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "**contentTypeCode (XDSSubmissionSet)**\r\nThe code specifying the type of clinical activity that resulted in placing XDS Documents in a SubmissionSet.",
            :zen.fhir/version "0.6.30-13",
            :fhir/code-systems #{{:fhir/url "http://ihe-d.de/CodeSystems/GrundDerUebermittlung",
                                  :zen.fhir/content :bundled}},
            :uri "http://ihe-d.de/ValueSets/IHEXDScontentTypeCode",
            :version "2018-07-13T13:28:16",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
