{ns de-basisprofil-r4.value-set.1.2.276.0.76.11.59--20180713162125,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "**healthcareFacilityTypeCode (XDSDocumentEntry)**\r\n This code for an XDS Document represents the type of organizational setting of the clinical encounter during which the documented act occurred.",
            :zen.fhir/version "0.6.30-11",
            :fhir/code-systems #{{:fhir/url "http://ihe-d.de/CodeSystems/NichtPatientBezogeneGesundheitsversorgung",
                                  :zen.fhir/content :bundled}},
            :uri "http://art-decor.org/fhir/ValueSet/1.2.276.0.76.11.59--20180713162125",
            :version "2018-07-13T16:21:25",
            :ftr {:module "de-basisprofil-r4",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
